.note-container {
	position: relative;

	border: none;
	border-radius: 0;
	border-left: 3px solid;

	h4 {
		margin-bottom: 0;
	}

	button {
		position: absolute;
		right: 10px;
		top: 5px;
	}

	/* Types */
	&.error {
		$errorColor: #d9534f;

		border-color: $errorColor;
		background-color: #fdf7f7;

		h4 {
			color: $errorColor;
		}
	}

	&.info {
		$infoColor: #5bc0de;
		border-color: $infoColor;
		background-color: #f4f8fa;

		h4 {
			color: $infoColor;
		}
	}

	&.success {
		$successColor: #5cb85c;
		border-color: $successColor;
		background-color: #dff0d8;

		h4 {
			color: $successColor;
		}
	}

	&.warning {
		$warningColor: #f0ad4e;
		border-color: $warningColor;
		background-color: #fcf8f2;

		h4 {
			color: $warningColor;
		}
	}


	/* Animation speeds */
	&.ani-fast {
		animation-duration: 300ms;
	}
	&.ani-medium {
		animation-duration: 500ms;
	}
	&.ani-slow {
		animation-duration: 1000ms;
	}
}